* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background: var(--020-a-18, #020A18);
}

.header-menu-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 20px;
}

.header-menu {
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 1147px;
}

.header {
    margin-bottom: 160px;
}

.header-menu-link:hover {
    color: #3A68B8;
}


.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; 
    margin-bottom: 40px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    background-color: white;
    padding: 20px;
    color: black;
}

.button:hover {
    color: #3A68B8;
    background-color: #fff;
    border: 3px solid #3A68B8;
}


.dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    opacity: 0.7;
    margin-bottom: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000vh;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.content-left, .content-right {
    width: 47%;
}

.content-right {
    display: flex;
    justify-content: end;
}

.content {
    margin-bottom: 200px;
}